﻿@page "/checkout"
@using onlineStore.Services
@inject CartService CartService

<h3>You have @CartService.SelectedItems.Count number of products in cart:</h3>
<ProductList Products="CartService.SelectedItems"></ProductList>

@code {

}
