﻿@page "/datatable"
@using onlineStore.Models
@using onlineStore.Services
@inject IJSRuntime JS


<h3>Software developers availables in the market</h3>


<div class="table-wrapper">
    <table id="myTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Security Number</th>
                <th>Office</th>
                <th>Phone Number</th>
                <th>Birth Date</th>
                <th>Currency</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var developer in Developers){
                <tr>
                    <td>@developer.Name</td>
                    <td>@developer.SecurityNumber</td>
                    <td>@developer.Office</td>
                    <td>@developer.PhoneNumber</td>
                    <td>@developer.BirthDate</td>
                    <td>@developer.Currency</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
    </table>
</div>





@code {
    public List<Developer> Developers { get; set; } = DeveloperProviderService.Developers.ToList();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            await JS.InvokeVoidAsync("renderjQueryComponents");
        }
    }

}
