﻿@page "/imgconv"

@using System 
@using System.IO
@inject IJSRuntime JS
@using ImageMagick
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject IWebHostEnvironment Environment


 <div class="card w-auto">

       <div class="card-body">
        <h3>Convert your JPG files to PNG IN A EASY WAY</h3>
        <img  class="img-fluid" src="https://m.media-amazon.com/images/I/51w7koDjFsL._AC_SX466_.jpg" />

        <br />
        <p>
            <label>
                <InputFile OnChange="@LoadFiles" />
            </label>
        </p>


        @if (isLoading)
        {
            <p>Uploading...</p>
        }
        else
        {
            <ul>
                @foreach (var file in loadedFiles)
                {
                    <li>
                        <ul>
                            <li>Name: @file.Name</li>
                            <li>Last modified: @file.LastModified.ToString()</li>
                            <li>Size (bytes): @file.Size</li>
                            <li>Content type: @file.ContentType</li>
                            <button class="btn btn-primary" @onclick="@( e=> DownloadFileFromStream(@newFileName))">
                                Download The PNG File Right Away.
                            </button>
                        </ul>
                    </li>
                }
            </ul>
        }
       </div>
 </div>





@code {
    private List<IBrowserFile> loadedFiles = new();
    private long maxFileSize = 1048576;
    private int maxAllowedFiles = 1;
    private bool isLoading;
    private String newFileName="";

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                loadedFiles.Add(file);

                var trustedFileNameForFileStorage = Path.GetRandomFileName();
                var path = Path.Combine(Environment.ContentRootPath,
                        Environment.EnvironmentName, "unsafe_uploads");

                System.IO.Directory.CreateDirectory(path);
                var fullPath = Path.Combine(path, trustedFileNameForFileStorage);
                newFileName = trustedFileNameForFileStorage;

                await using FileStream fs = new(fullPath, FileMode.Create);
                await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
            }
            catch (Exception ex)
            {

            }
        }

        isLoading = false;
    }


    private Stream GetFileStream(String fileName)
    {
      //  var randomBinaryData = new byte[50 * 1024];
       // var fileStream = new MemoryStream(randomBinaryData);

        var path = Path.Combine(Environment.ContentRootPath,
                        Environment.EnvironmentName, "unsafe_uploads");

        var fullPath = Path.Combine(path, fileName);


        // Read first frame of gif image
        using (var image = new MagickImage(fullPath))
        {
            image.Format = MagickFormat.Png;
            var  fileStream = new MemoryStream(image.ToByteArray());
            return fileStream;
        }


       // FileStream f = new FileStream(fullPath, FileMode.OpenOrCreate);

       
    }

    private async Task DownloadFileFromStream(String fileName)
    {
        var fileStream = GetFileStream(fileName);



        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await JS.InvokeVoidAsync("downloadFileFromStream", fileName+".png", streamRef);
    }
}