﻿@page "/"
@using onlineStore.Models
@using onlineStore.Services


<ProductList Products="Products" DisplayBuyButton="true"></ProductList>


@code{
	    public List<Product> Products { get; set; } = ProductProviderService.Products.ToList();
}
